{
  "@context": "https://schema.org/extensions",
  "@type": "MessageCard",
  "themeColor": "{{ role_webhook_themeColor | default('0072C6') }}",
  "title": "{{ role_webhook_title | default('Webhook Title') }}",
  "text": "{{ role_webhook_text | default('Message from Ansible') }}",
  "potentialAction": [
{% if role_webhook_cardtype is defined and role_webhook_cardtype == 'OpenUri' %}
    {
      "@type": "OpenUri",
      "name": "{{ role_webhook_uritext | default('Get more info') }}",
      "targets": [
        { "os": "default", "uri": "{{ role_webhook_uri | default('https://docs.ansible.com/') }}" }
      ]
    }
{% endif %}
  ]
}