
variable "vpc_subnet_id" {
    type = string
    default = "{{ aws_vpc_subnet_id }}"
}
variable "instance_type" {
    type = string
    default = "{{ aws_instance_type }}"
}
variable "key_name" {
    type = string
    default="{{ aws_key_name }}"
}

variable "vpc_security_group_ids" {
    type = list(string)
    default = [
        "sg-0cb3896c182c2bbb2",
        "sg-063963311c2e46026"
    ]

}