
data "template_file" "user_data" {
  template = file("user-data")
}

resource "aws_instance" "{{ vm_name }}" {
  ami                         = data.aws_ami.rhel_86_x86.image_id
  instance_type               = var.instance_type
  subnet_id                   = var.vpc_subnet_id
  vpc_security_group_ids      = var.vpc_security_group_ids
  associate_public_ip_address = true
  key_name = var.key_name
  user_data                   = data.template_file.user_data.rendered

  tags = {
    Name = "{{ vm_name }}"
    ansible_node_name	= "{{ vm_name }}-terraform"
    ansible_node_name	= "servers-terraform"
  }
}